.add_items {
  font-size: 1em;
  width: 80px;
  padding: 10px 0;
  background-color: #27ae60;
  border: none;
  margin-right: 20px;
  color: white;
}

.add_items:hover {
  background-color: white;
  color: #27ae60;
  border: 1px solid #27ae60;
}

.remove_items {
  font-size: 1em;
  width: 80px;
  padding: 10px 0;
  background-color: #c0392b;
  border: none;
  margin-right: 20px;
  color: white;
}

.remove_items:hover {
  background-color: white;
  color: #c0392b;
  border: 1px solid #c0392b;
}
